.camera {
	padding: 0 !important;
}

.camera-dimensions {
	height: unset !important;
	width: unset !important;
}

.video-js {
    background-color: rgba(0, 0, 0, 0) !important;
	position: unset !important;
}

.vjs-big-play-button {
	opacity: 0 !important;
}
