$primary: #3f51b5;
$primary-light: #757de8;
$primary-dark: #002984;

$secondary: #29b6f6;
$secondary-light: #73e8ff;
$secondary-dark: #0086c3;

$background: #263238;
$background-light: #4f5b62;
$background-dark: #000a12;
